@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,700;0,800;1,200;1,800&display=swap");

body {
  background: #fff;
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  margin-bottom: 70px;
}


.card.image-full:before {
  opacity: 0.3 !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;